{% extends 'base/main.html' %}
{% block content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if request.user.is_authenticated %}
                        <li class="nav-item">
                            <p class="nav-link">{{request.user}}: {{count}} task{{count|pluralize:"s"}}</p>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'logout' %}">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container my-3">
        <div class="container_list_todo">
            <div class="header_list_todo">
                <h1>My to do list: {{color}}</h1>
                <a href="/task-create" class="btn_todo">Create Todo <span><i class="icofont-ui-add"></i></span></a>
            </div>
            <form method="GET" class="search_form">
                <div class="input-group">
                    <input type="text" name="search" class="form-control" placeholder="Search My Todos" autocomplete="off">
                    <input type="submit" class="btn_search_todo" value="Search">
                </div>
            </form>

            <table class="table">
                <thead>
                    <tr>
                        <td></td>
                        <th>Item</th>
                        <th>Description</th>
                        <td></td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                        {% if task.complete %}
                            <tr class="task-complete">
                                <td><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked></td>
                                <td><span>{{task.title}}</span></td>
                                <td><span>{{task.description}}</span></td>
                                <td><a class="text-info" href="{% url 'task-update' task.id %}">update</a></td>
                                <td><a class="text-dark" href="{% url 'task-delete' task.id %}">delete</a></td>
                            </tr>
                        {% else %}
                            <tr class="task-incomplete">
                                <td><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault"></td>
                                <td>{{task.title}}</td>
                                <td>{{task.description}}</td>
                                <td><a class="text-info" href="{% url 'task-update' task.id %}">update</a></td>
                                <td><a class="text-dark" href="{% url 'task-delete' task.id %}">delete</a></td>
                            </tr>
                        {% endif %}
                    {% empty %}
                        <h3>No item in list</h3>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}